.row
  .col.s8.offset-s2#ordered-books-table
    %hr
    %h5.center Shipping Address
    %hr
    %table
      %tbody
        %tr
          %th
            Address:
          %td
            = @order.shipping_address.user_address
        %tr
          %th
            Zipcode:
          %td
            =@order.shipping_address.zipcode
        %tr
          %th
            City:
          %td
            =@order.shipping_address.city
        %tr
          %th
            Phone:
          %td
            =@order.shipping_address.phone
        %tr
          %th
            Country:
          %td
            =@order.shipping_address.country.name
.row
  .col.s8.offset-s2#ordered-books-table
    %h5.center Billing Address
    %hr
    %table
      %tbody
        %tr
          %th
            Address:
          %td
            = @order.billing_address.user_address
        %tr
          %th
            Zipcode:
          %td
            =@order.billing_address.zipcode
        %tr
          %th
            City:
          %td
            =@order.billing_address.city
        %tr
          %th
            Phone:
          %td
            =@order.billing_address.phone
        %tr
          %th
            Country:
          %td
            =@order.billing_address.country.name