%h1.center-align New Order
%h5 Books for order
= render "ordered_books"
-# = @order.errors.inspect
-# = session[:order_params].inspect
-# = @order.current_step.inspect
-# - if @order.current_step == "shipping"
-#   = render "cart_view"
-# - if @order.current_step == "billing"
-#   = render "cart_view"
-#   = render "shipping_address_view"
-# - if @order.current_step == "paying"
-#   = render "cart_view"
-#   = render "billing_address_view"
-# - if @order.current_step == "confirmation"
-#   = render "cart_view"
-#   = render 'order_preview'
-# = form_for @order do |f|
-#   .row
-#     .col.l6
-#       = render "#{@order.current_step}_step", :f => f
-#     .col.l6
-#       - if @order.errors.any?
-#         #error_explanation
-#           %h2
-#             = pluralize(@order.errors.count, "error")
-#             prohibited this order from being saved:
-#           %ul
-#             - @order.errors.full_messages.each do |message|
-#               %li= message
-#   = f.button "Continue", class: "waves-effect waves-light btn "
-#   = f.button "Back", class: "waves-effect waves-light btn ",
-#                      name: "back_button" unless @order.first_step?
-# = link_to 'Back', orders_path
