%h1 New Book
.container
  .row
    .col.l6
      = render 'form'
    .col.l6
      .search-author-field
        = form_for_filterrific @filterrific do |f|
          =f.text_field

= link_to 'Back', books_path
