@import "materialize";
@import "users";
@import "rating";
@import "books";
@import "reviews";
@import "orders";
@import "carts";
@import "pages";
@import "order_steps";


html {
  height: 100%;
}

body {
  @extend .grey.lighten-4;
  height: 100%;
}

nav {
  background-color: #656666 ;
}
.page-wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  padding-bottom: 20px;
  margin: 0 auto -20px;

}

.page-footer {
  width: 100%;
  height: 20px;
  background-color: #666666;
}

.header-link {
  color: red;
}

.nav-cart {
  display: inline-block;
}

input[data-error="wrong"] {
  border-color: red;
}

::-webkit-input-placeholder {color:red; font-style: oblique;}
::-moz-placeholder          {color:red; font-style: oblique;}/* Firefox 19+ */
:-moz-placeholder           {color:red; font-style: oblique;}/* Firefox 18- */
:-ms-input-placeholder      {color:red; font-style: oblique;}

.error_messages {
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('validation.png');
}

#toast-container {
  display: block;
  position: fixed;
  z-index: 1001; }
  @media only screen and (max-width : 600px) {
    #toast-container {
      min-width: 100%;
      bottom: 0%; } }
  @media only screen and (min-width : 601px) and (max-width : 992px) {
    #toast-container {
      min-width: 30%;
      right: 0%;
      top:   90%;
      left: inherit;
      bottom: inherit; } }
  @media only screen and (min-width : 993px) {
    #toast-container {
      min-width: 8%;
      top: 90%;
      right: 0%; } }
.facebook-login {
  margin-top: 20px;
}

#facebook-logo{
  width: 36px;
  height: 36px;
}

#facebook-button {
  background-color: #3C5A99;
  width: 100%;
}

 
