
.card {
  display: inline-block;
  height:   350px;
  width:    200px;
  margin:   10px;
  z-index:  100;
  .card-content {
    padding: 5px 15px;
    height: 50px;
  }
}
.card-image {
  height: 300px;
}

.cart-order-panel {
  margin-right: 50px;
}

#search-panel {
  input {
    height: 30px;
  }
  color: black;
  // opacity: 0.3;
  height: 60px;
  width: 100%;
  background-color: rgba(101, 102, 102, 0.3);
  // background-color: #656666;
  z-index: 101; 
}

.book-info {
  font-weight: bold;
  font-size: 1rem;
}


.add-to-cart-btn {
  width: 70%;
}
.card-book-price {
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.card-button {
  margin-right: 5px;
}

.btn-small{
  padding: 0 10px;
  font-size: 0.3rem;
  #width: 30px;
  height: 20px;
  line-height: 20px;
}

.book-cover {
  width: 100%;
  img {
    width: 95%;
  }
  
}