.cart-button-panel {
  li {
    margin: 10px;
  }
}

input.order-quantity {
  width: 20px;
  padding-top: 15px;
}

.book-info-cell {
  width: 60%;
}

.coupon-input {
  width: 120px;
  padding-left: 10px;
}

.price-check {
  width: 100px;
}

.cart-info {
  height: 40px;
}

#cart-button {
  height: 140px;
  line-height: 60px;
  i{
    padding-top: 30px;
    font-size: 80px;
    height:    80px;
  }
  .img-cart {
    height: 90px;
  }
}

.cart {
   margin-top: 100px;
   z-index: 100; 
}