.cart-button-panel {
  li {
    margin: 10px;
  }
}

input.order-quantity {
  width: 20px;
  padding-top: 15px;
}

.book-info-cell {
  width: 60%;
}

.coupon-input {
  width: 120px;
  padding-left: 10px;
}

.price-check {
  width: 100px;
}