.order-book-link-panel{
    display: inline-block;
}

.select-year-field{
  width: 150px;
}

.select-month-field{
  width: 150px;
}

.date-errors{
  color: red;
}

.confirm-title{
  font-weight: bold;
}

