.rating{

/* Remove default Radio Buttons */
[type="radio"]:not(:checked), [type="radio"]:checked {
  position: relative;
  left: 100;
  visibility: visible; }

/* Unchecked styles */
[type="radio"]:not(:checked) + label:before {
  border-radius: none;
  border: none; }

/* Checked styles */
[type="radio"]:checked + label:before {
  border-radius: none;
  border: none; }

[type="radio"]:checked + label:after {
  border-radius: none;
  border: none;
  opacity : 0;
  background-color: none;
  z-index: 0;
  -webkit-transform: scale(0.02);
  -moz-transform: scale(0.02);
  -ms-transform: scale(0.02);
  -o-transform: scale(0.02);
  transform: scale(0.02); }

}


.rating:not(old){
  display        : inline-block;
  width          : 12.5em;
  height         : 2.5em;
  overflow       : hidden;
  vertical-align : bottom;
}

.rating:not(old) > input{
  margin-right : -100%;
  opacity      : 0;
}

.rating:not(old) > label{
  display         : block;
  float           : right;
  position        : relative;
  // background      : url('star-off.svg');
  background-size : contain;
}

.rating:not(old) > label:before{
  font-size       : 130%;
  content         : "\2605";
  display         : block;
  width           : 1.5em;
  height          : 1.5em;
  // background      : url('star-on.svg');
  background-size : contain;
  opacity         : 0.3;
  transition      : opacity 0.2s linear;
}

.rating:not(old) > label:hover:before,
.rating:not(old) > label:hover ~ label:before,
.rating:not(:hover) > :checked ~ label:before{
  opacity : 1;
}

.rating-star{
  font-size       : 130%;
  display         : block;
  width           : 5em;
  height          : 1.5em;
  background-size : contain;
  opacity         : 0.3;
  transition      : opacity 0.2s linear;
  margin-right   : 10px;
}

.review-date, .review-user {
  margin-left: 10%;
}

