- if can? :manage, :book
  = render "users/admin_panel"
- else
  .cart
    %h5.center
    - if can_build_cart?
      = link_to cart_path(build_cart), class: "btn-large waves-effect waves-light", id: "cart-button" do
        %i.large.material-icons shopping_cart
    #cart_preview
      = render "orders/cart_preview"