- if can? :manage, :book
  = render "users/admin_panel"
- else
  .cart
    = link_to cart_path(cart_order), class: "btn waves-effect waves-light", id: "cart-button" do
      .img-cart
        = content_tag(:i, "shopping_cart", class: "material-icons nav-cart")
      .cart-info#cart_info
        = cart_main_panel